
body {
  font-family: $font;
  background-color: $bg-main;
}
.container {
  width: 65%;
  margin: 0 auto;
}

.container-fluid {
  width: 70%;
  margin: 0 auto;
}

.purple {
  background-color: $pink;
}

.grey {
  background-color: $grey;
}

.blue {
  background-color: $blue;
}
