
body {
  font-family: $font;
}
.container {
  width: 65%;
  margin: 0 auto;
}

.container-fluid {
  width: 70%;
  margin: 0 auto;
}

// @media all and (max-width: 1760px) {
//   .jumbotron {
//     background-image: none!important;
//     background-color: #036072;
//   }
//
//   .title {
//     justify-content: center!important;
//   }
// }
