
body {
  font-family: $font;
  background-color: $bg-main;
}
.container {
  width: 65%;
  margin: 0 auto;
}

.container-fluid {
  width: 70%;
  margin: 0 auto;
}

.purple {
  background-color: $pink;
}

.grey {
  background-color: $grey;
}

.blue {
  background-color: $blue;
}

.grey-color {
  color: $grey;
}

.blue-color {
  color: $blue;
}

.lightpink-color {
  color: $light-pink;
}

.lightred-color {
  color: $light-red;
}

.darkred-color {
  color: $dark-red;
}

.orange-color {
  color: $orange;
}

.darkblue-color {
  color: $dark-blue
}
