footer {
  background: $lightblack;
  width: 100%;
  height: 100px;

  .container {
    .footer-info {
      display: flex;
      justify-content: center;
      align-items: center;
      .brand {
        padding: $pd-2 0;
        width: 50%;
        ul {
          display: flex;
          justify-content: space-around;
          align-items: center;
        }
      }

      .copyright {
          width: 50%;
          padding: $pd-2 0;
        ul {
          display: flex;
          justify-content: center;
          align-items: center;

          li {
            color: $white;
            padding: 0 $pd-1;
            font-size: 14px;
            a {
              color: $white;
            }
          }
        }
      }
    }
    }
}
