footer {
  background: $lightblack;
  width: 100%;

  .container {
    .footer-info {

      @include flex(center,center,no-wrap)
      .brand {
        padding: $pd-2 0;
        width: 50%;
        ul {
          @include flex(center,space-around,no-wrap)
        }
      }

      .copyright {
          width: 50%;
          padding: $pd-2 0;
        ul {
          @include flex(center,center, no-wrap);

          li {
            color: $white;
            padding: 0 $pd-1;
            font-size: 14px;
            a {
              color: $white;
            }
          }
        }
      }
    }
    }
}
