main {

  .main-title {
    padding-top: $pd-5;
    text-align: center;
  }

  .card-content {
    @include flex(center,center,wrap);

    .main-card {
      padding: $pd-3 $pd-1;

      img {
        width: 100%;
        max-height: 200px;
      }

      .main-card-paragraph {
        margin-top: -4px; // remove space
        width: 100%;
        height: 100%;
        background: $white;
        padding: $pd-2;

        * {
          padding: $pd-1 0;
        }
        h4 em {
          color: $blue;
        }

        a {
          color: $blue;
        }
      }
    }
  }

  .gallery {
    margin-top: $mt-2;
    .gallery-card {
      width: calc(100% / 2);
      height: 300px;
      float: left;

      img {
        height: 100%;
        width: 100%;
      }

      .gallery-card-title {
        padding: $pd-5;
        color: $white;
        line-height: 30px;

          * {
            margin: $mt-1 0;
          }
          p {
            font-size: 18px;
          }

          a {
            padding: $pd-1 $pd-2 - 5;
            background: $white;
          }
      }
    }
  }

  .gallery::after {
    @include clearfix();
  }

  .social-newtork {
    margin-top: $mt-3;
    ul {
      @include flex(center,flex-end,nowrap);
      li {
        padding: 0 $pd-1;
        font-size: 30px;
      }
    }
  }

  .link {
    margin-bottom: $mt-3;

    ul {
      margin-top: $mt-2;
      float: left;
      width: calc(100% / 4);
      li {
        padding-top: $pd-1;
        a {
          color: $lightgrey;
          font-size: 12px;
        }
      }
    }
  }

  .link::after {
    @include clearfix();
  }
}
