// Colori

$black: #101010;
$blue: #009cff;
$pink: #c70eb9;
$purple: #3c1567;
$grey: #3c3c3c;
$lightgrey: #4d4d4d;
$lightblack: #1e1e1e;
$white: #ffff;

// Font

$font: Arial, sans-serif;

// Margini

$mt-1: 10px;
$mt-2: 20px;
$mt-3: 30px;
$mt-4: 40px;
$mt-5: 50px;
$mt-100: 100px;

$pd-1: 10px;
$pd-2: 20px;
$pd-3: 30px;
$pd-4: 40px;
$pd-5: 50px;

// Jumbo $jumbo-heigth

$jumbo-heigth: 500px;
